body{
  max-width: 800px;
  margin: 0 auto
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.pure-menu-horizontal{
text-align: right;
padding: 2em;
}

#team_data{
  width: 100%
}

#team_headline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

#team_headline img{
width: 40%;
max-width: 200px;
border: solid black 1px
}

#team_chart{
  margin-top: 5%;
  width: 100%;
  height: 30%;
  min-height: 300px;
  background: blue

}

.pure-form .pure-radio {
  display: inline-block;
}

.pure-menu-link{
  float: left
}

/* th {
  padding: .5em .5em !important
} */

th, td {
  text-align: center
}

.team_photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.team_photo img, .trade_photo{
  max-height: 1.5em;
}

@media(min-width: 452px){
  .team_photo img {
    margin-left: 8px
  }
}

tr:hover {
    background: pink
  }

.team-table a {
  text-decoration: none;
  color: green;
  display: block;
}

@media(max-width: 452px) {
.pure-table td, .pure-table th {
    padding: 0.2em;

  }

  .pure-table td:first-child, .pure-table th:first-child {
    padding-top, padding-bottom: .5em;
    padding-left: 0.2em;
}

.pure-table p{
  font-size: 0.8em
}

.pure-table img{
  display: none
}
}
