<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>Team Exchange 2018</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  </head>
  <body>
      {% if user.is_authenticated %}
    {% block header %}

    <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Exchange</a></li>
        <li class="pure-menu-item"><p>{{user.first_name}} {{user.last_name}}</p></li>
        <li class="pure-menu-item">
          <div class="profile-finance">
            <li><p>Wallet:  {{wallet}}</p></li>
            <li><p>Investments:  {{investments}}</p></li>
          </div>
        </li>

    </ul>
</div>
{% endblock %}
{% endif %}
<div class='main'>

{% block content %}
{% endblock %}
</div>
  </body>
</html>
