<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% block title %}<title>Team Exchange 2018</title>{% endblock %}
        {% load static %}
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120744731-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120744731-1');
    </script>
    </head>
    <body>
    {% if user.is_authenticated %}
        {% block header %}
            <div id="base_header_background">
                <div id='base_header'>
                  <div class='logo'><a href="/teamapp/profile"><img class='pure-img' src="{% static 'images/logo.png' %}"></a></div>
                  <div>
                    <a class="money" href="/teamapp/profile">
                      <p>{{user.first_name}} {{user.last_name}}</p>
                      <p>In wallet:  £{{wallet}}</p>
                      <p style="font-size: 0.8em; color: #B3B3B3">Invested:  £{{investments}}</p>
                    </a>
                  </div>
                </div>

                <div id="sub_header">
                    <div><a href="/">Exchange</a></div>
                    <div><a href="/teamapp/leaderboard">Leaderboard</a></div>

                </div>

            </div>
        {% endblock %}
  {% endif %}

    <div class='main'>
      <div id='message_bar' class='hide_no_messages {% if messages %} show_messages {% endif %}'>
                      {% if messages %}
                        {% for message in messages %}
                        <p>{{ message }}
                          {% if "team" in request.get_full_path  %}
                        - now you own {{number_shares}} shares in {{team_code}}
                        {% endif %}</p>

                        {% endfor %}
                        {% endif %}
                      </div>
        {% block content %}
        {% endblock %}


    <div id="footer">
        <div><a href="/teamapp/faq">FAQs</a></div>
        <div><a href="/teamapp/game_rules">Game rules</a></div>
        <div><a href="mailto: hello@teamexchange.co.uk" id='footer_email'>hello@teamexchange.co.uk</a></div>
    </div>
  </div>
    </body>
</html>
