<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>Team Exchange 2018</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="utf-8">
  </head>
  <body>
      {% if user.is_authenticated %}
    {% block header %}


<div id='base_header'>
  <div id='header_links'>

<p><a href='/teamapp/profile'><p>{{user.first_name}} {{user.last_name}}</p></a></p>
<p><a href="/" class="">Exchange</a></p>
{% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p><!--maybe put in an emoji here - this is thumbs up &#128077-->
  {% endfor %}
{% endif %}
</div>
<div id='header_data'>
<p>Wallet:  £{{wallet}}</p>

<p>Total Investments:  £{{investments}}</p>

</div>
</div>


{% endblock %}
{% endif %}
<div class='main'>

{% block content %}
{% endblock %}
</div>
  </body>
</html>
