{% extends "base.html" %}
{% block content %}

    <h1> FAQ </h1>
    <div class='faq'>

      <strong>Q. How many shares can I buy in a team?</strong>
<p>A. As many as you can afford - there are unlimited shares in any team left in the competition.</p>

<strong>Q. Why are all the shares the same price to begin with?</strong>
<p>A. All price changes are calculated based on the total invested value in teams - the shares themselves are an arbitrary size to start with.</p>

<strong>Q. How can I see how many shares everyone else has bought in a team?</strong>
<p>A. Most of the time, you can’t - teams’ total invested values are kept confidential, apart from during a match (when trading will be frozen).</p>

<strong>Q. What’s a “trading freeze”?</strong>
<p>A. From 15 minutes before kick-off until the result of the match has been recorded, no shares can be bought or sold in either team that is playing. Share prices will be amended based on the result, and trading will be reopened at the new price(s).</p>

<strong>Q. What happens if no-one has bought shares in a team that plays?</strong>
<p>A. If a team plays with no invested value, then neither teams’ share price will be changed after the match - regardless of the result.</p>

<strong>Q. What happens to shares in teams eliminated in the group stage?</strong>
<p>A. Any team eliminated will have its shares automatically sold, returning any value to their investors. A team is only considered officially eliminated once all of its group stage games have concluded.</p>

<strong>Q. What happens to shares in teams eliminated in the knockout stages?</strong>
<p>A. All teams eliminated in knockout games will lose their whole value, sending their share prices to £0.00.</p>

<strong>Q. Can have a negative wallet balance?</strong>
<p>A. No, you can’t have a balance of below £0.00 in your wallet. Sell some of your existing investments to fund new ones.</p>

<strong>Q. Can I have a negative number of shares in a team?</strong>
<p>A. No, you can’t “short” any stocks. The minimum number of shares you can have in a team is zero.</p>

<strong>Q. The match has finished, but I can’t see any result up on TeamExchange yet?</strong>
<p>A. Patience, you antsy bastard - we’re on it. Thanks for paying such careful attention however, you’re clearly a power user.</p>

<strong>Q. I’ve run out of money, can I invest some more?</strong>

<p>No, you should have been more careful with your investing at the start. Go to paddypower and lose your money there instead.</p>

<strong>Q. I think the calculation is wrong and the computer is broken?</strong>
<p>Honestly, there’s a small chance something has gone wrong. This has been a thing built in spare time by a couple of mates. But it’s also likely that your maths is crap. Get in touch with us and we’ll look into it.</p>

<p>If there has been a mistake - then we’ll be fair but our decision is final.</p>

<strong>Q. Why did you do this?</strong>
<p>We’re not really sure - it’s kind of taken on a life of its own.</p>

<strong>Q. My colleagues at work keep on looking over my shoulder when i’m investing - they really want to get involved. Can they?</strong>
<p>Maybe - we’ll close sign ups when we reach our 50 limit or after the first round of group games, whichever is first.</p>

<strong>Q. What’s stopping you from going in and making it look like you’re winning and taking all of our money?</strong>
<p>Honesty, and the only person who will has access to the database (Oli) won’t be playing. Ben is just the admin boy.</p>

<strong>Q. Will England win the world cup.</strong>

<p>Yes - any other attitude is defeatist and shan’t be tolerated.</p>

<strong>Q. This is amazing - let’s do it for the entire football league next year.</strong>

<p>Unlikely, but possible. Let’s talk after the final.</p>

  </div>

{% endblock %}
