{% extends "base.html" %}
{% block content %}

<table class="pure-table pure-table-horizontal team-table">
    <thead>
        <tr>
            <th><p>#</p></th>
            <th><p>Team</p></th>
            <th><p>Price</p></th>
            <th><p>Next</p></th>
            <!-- <th><p>Total Invested</p></th> -->
            <th><!--<p>Trade</p>--></th>
        </tr>
    </thead>
    <tbody>
      {% for team, data in teams.items %}
        <tr>
      <td> <p> {{data.0}}</p> </td>
      <td> <div class='team_photo'><p> {{team}} </p> <img class='pure-img' src='{{data.1}}'></div></td>
      <td> <p>{{data.2}}</p></td>
      <td> <p>{{data.3}}</p>{{data.4}}</p></td>
      <!-- <td><p>{{data.5}}</p></td> -->
      <td><a href='/teamapp/team/{{team}}'><img class='pure-img trade_photo' src='https://cdn2.iconfinder.com/data/icons/web/512/Shopping_Cart-512.png'></a></td>
    </tr>
      {% endfor %}
    </tbody>
</table>

<!-- {% for mykey,myvalue in mydict.items %}

    {{ mykey }} : {{ myvalue }}

{% endfor %} -->

{% endblock %}
