{% extends "base.html" %}
{% block content %}

<div class="page-container">
    <h1> Your Profile </h1>
        <table class="pure-table pure-table-horizontal team-table">
          {% if empty_profile %}
          <h3> You don't have anything in your profile at the moment, go to the  <a href='/'> Exchange </a> </h3>
          {% else %}
            <thead>
                <tr>
                    <th><p>Team</p></th>
                    <th><p>Shares</p></th>
                    <th><p>Current price</p></th>
                    <th><p>Current value</p></th>
                </tr>
            </thead>
            <tbody>
                {% for team, data in user_teams.items %}
                    <tr>
                        <td> <div class='team_photo'><a href='/teamapp/team/{{team}}' class='rowlink'><p>{{team}}</p></a> <img class='pure-img' src='{{data.0}}'></div></td>
                        <td> <p>{{data.1}}</p></td>
                        <td> <p>£{{data.2}}</p></td>
                        <td> <p>£{{data.3}}</p></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}


        <div id='profile_buttons'>

          <a href='/accounts/password/change/'><button class='pure-button pure-button-primary'>Change Password</button></a>
          <a href='/accounts/logout'><button class='pure-button pure-button-primary'>Log out</button></a>
        </div>
</div>

{% endblock %}
