{% extends "base.html" %}
{% block content %}

<h1> Your Profile </h1>
<table class="pure-table pure-table-horizontal team-table">
    <thead>
        <tr>
            <th><p>Team</p></th>
            <th><p>Shares</p></th>
            <th><p>Current Price</p></th>
            <th><p>Your Investment</p></th>
        </tr>
    </thead>
    <tbody>
      {% for team, data in user_teams.items %}
    <tr>
      <td> <div class='team_photo'><a href='/teamapp/team/{{team}}'><p>{{team}} </p></a> <img class='pure-img' src='{{data.0}}'></div></td>
      <td> <p>{{data.1}}</p></td>
      <td> <p>{{data.2}}</p></td>
      <td> <p>{{data.3}}</p></td>
    </tr>
      {% endfor %}
    </tbody>
</table>

<div id='profile_buttons'>

  <button class='pure-button pure-button-primary'>Change Password</button>
  <button class='pure-button pure-button-primary'>Log out</button>
</div>


{% endblock %}
