{% extends "base.html" %}
{% block content %}
<div class="page-container">
    <div id='team_data'>
      {% if messages %}
        {% for message in messages %}
        <div id='transaction_messages'>
        <p>{{ message }}, now you own {{number_shares}} shares in {{team_code}}</p>
      </div>
        {% endfor %}
        {% endif %}
        <div id='team_headline'>
            <div>
                <h1>{{team_code}}</h1>
                <h3>{{current_price}}</h3>
            </div>
            <img class='pure-img' src='{{flag}}'>
        </div>
    </div>


    <!--<div id="team_chart"></div>-->

    {% if not trading_open %}
        <h1> Sorry, trading is currently closed on this team </h1>
        <h3> The current value invested in this team is {{total_value}}</h3>

    {% else %}
        <div id='team_form'>
            <h2> Buy and sell</h2>
            <p> Your wallet: {{wallet}}</p>
            <p> You own {{number_shares}} shares in this team </p>

            <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} -->

            <form class='pure-form' action='' method='post'>
                {% csrf_token %}
                    {{form}}
                    <input type="submit" value="Submit" class='pure-button pure-button-primary' />
            </form>
        </div>

</div>
{% endif %}
{% endblock %}
<!-- <fieldset>
  <input type="text" placeholder="Number of shares">
  <label for="buy" class="pure-radio">
         <input id="buy" type="radio" name="optionsRadios" value="1" checked>
         Buy
     </label>

     <label for="option-three" class="pure-radio">
         <input id="option-three" type="radio" name="optionsRadios" value="-1">
         Sell
     </label>
  <p> @ {{current_price}}</p>
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
</fieldset> -->
