{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p> Min 8 characters </p>

    <form method="POST" action="{% url 'account_change_password' %}" class="pure-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='pure-button pure-button-primary' name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}

<!-- class = password_change -->
