

body {
	max-width: 800px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
  font-family: 'Lato', sans-serif;
	font-size: 0.8em


}



.fixtures_box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center
}

.highlight_fixture{
	border: solid red 4px;
	margin: 5em
}

.individual_fixture table{
	margin: 0 auto
}

.individual_fixture table tr:hover{
	background: none
}

.teams_in_fixture{
	display: flex;
	flex-direction: row
}

.individual_fixture{
	text-align: center;
	margin: 1em 1em 0em 0em

}

.fixture_table tr:first-child img{
	margin: 0 auto
}

.fixture_table tr:first-child td:nth-child(3), .fixture_table tr:first-child td:nth-child(2) {
	padding: 0.1em
}

.individual_fixture img {
	max-height: 30px
}

@media(max-width: 450px){

	.fixture_table{
	width: 40%
}
}

.fixture_table {
	width: 100%
}

/* table {
  position: relative
} */

.green{
  color: green
}

.red {
  color: red
}

.rowlink::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2em;
}

#footer_email {
	word-break: break-all
}

#sign_up_logo {
	max-width: 200px
}

label[for=id_password],
label[for=id_login] {
	display: none
}

#message_bar {
	background-color: red;
	/* padding: 1%; */
	margin-bottom: 2%;
	width: 100%;
	padding: 0.5% 1%;
	box-sizing: border-box;
}

.hide_no_messages {
	display: none
}

.show_messages {
	display: block !important
}

#base_header_background {
	width: 800px;
	position: fixed;
	flex: column
}

@media(max-width: 800px) {
	#base_header_background,
	#base_header,
	#sub_header {
		width: 100%
	}
}

@media(max-width: 450px) {
	#sub_header,
	#footer {
		justify-content: space-between;
	}
	/* #team_chart {
		height: 250px;
	} */


}


@media(max-width: 450px){

#sub_header div a {
			padding: 8px 8px !important
		}

}

/*Header bar*/

#base_header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	background-color: #42515A;
	box-shadow: 0px 3px 2px #888888;
}

#base_header div {
	float: left;
}

#base_header div a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

#base_header div a:hover:not(.active) {
	background-color: #111;
}

.money p {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 3px;
	/*    padding-left: 0px;
    padding-right: 20px;*/
}

.logo {
	max-width: 90px
}

.header .logo_list {
	padding: 0px 0px;
}


/*Sub-header bar*/

#sub_header {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #40798C;
	box-shadow: 0px 3px 2px #888888;
}

#sub_header div {
	float: left;
	background-color: #40798C;
}

#sub_header div a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}



#sub_header div a:hover:not(.active) {
	background-color: #111;
}

#active {
	background-color: #FF6978;
	font-weight: bold;
}


/*Footer bar*/

#footer {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	width: 100%;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	background-color: gray;
	/* position: absolute;
    bottom: 0 */
}

#footer div {
	float: left;
	background-color: gray;
}

#footer div a {
	display: block;
	color: #333333;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

#footer div a:hover:not(.active) {
	background-color: #9b9b9b;
}

#profile_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	width: 100%
}

#profile_buttons * {
	margin: 8px
}

.main {
	margin-top: 150px;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#team_data {
	width: 100%
}

#team_headline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%
}

#team_headline img {
	width: 40%;
	max-width: 200px;
	height: 40%;
	box-shadow: 1px 3px 3px #888888;
}

#team_chart {
	margin-top: 5%;
	width: 100%;
	height: 400px;
	/*background: blue*/
}

.pure-form .pure-radio {
	display: inline-block;
}

.pure-form {
	display: flex;
	justify-content: space-between;
	max-width: 60%;
	flex-wrap: wrap
}

.pure-form * {
	margin: 3% 3% 3% 0
}

#id_number_of_shares {
	max-width: 120px
}

table {
	width: 100%;
}

th {
	background: #42515A;
	color: #FFFFFF
}

th,
td {
	text-align: center;
}

.team_photo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  margin: 0.5em
	/*box-shadow: 5px 10px;*/
}

.team_photo img,
.trade_photo {
	width: 2em;
	box-shadow: 1px 2px 2px #888888
}

@media(min-width: 450px) {
	.team_photo img {
		margin-left: 8px
	}
}

.team-table tr:hover {
	background: #FF6978
}

@media(max-width: 450px) {
	.pure-table td,
	.pure-table th {
		padding: 0.2em;
	}
	.pure-table td:first-child,
	.pure-table th:first-child {
		padding-top,
		padding-bottom: .5em;
		padding-left: 0.2em;
	}
	.pure-table .team_photo {
		flex-direction: column
	}
}


/*Table formatting*/

.team-table {
	table-layout: fixed;
}

.team-table a {
	text-decoration: none;
	color: black;
	display: block;
}

.team-table td {
	padding: 0
}

.team-table th {
	height: 70px;
	padding: 0px;
	vertical-align: middle;
}

.page-container {
	width: 90%
}

.fixture-date {
	font-size: 0.6em;
	color: gray
}


/* body {
  font-family: 'Lato', sans-serif;
  padding: 5%
} */

.faq {
	max-width: 600px
}

.faq .box {
	margin: 0 !important
}

#mc_embed_signup {
	text-align: left;
}

#mc_embed_signup input {
	margin-bottom: 6%
}

.box {
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin: 3% 3% 0 3%;
	border: 2px solid black;
	padding: 2%;
	text-align: center
}

@media (max-width: 500px) {
	.box {
		flex-wrap: wrap
	}
	.box img {
		max-width: 100% !important;
		margin: 0 !important
	}
	.box p {
		width: 100%
	}
}

.box img {
	max-width: 60%;
	margin-left: 5%
}

.all-boxes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}
